@page
@model FinancialControl.Pages.Transacoes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<br><h3>Você tem certeza que deseja excluir esse item?</h3><br>
<div>
    <h4>Transação</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transacao.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transacao.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transacao.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transacao.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transacao.nameBank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transacao.nameBank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transacao.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transacao.Descricao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Transacao.Id" />
        <br><input type="submit" value="Deletar" class="btn btn-danger" /><br>
        <br><a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
